/* Estilos para o rodapé */
.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer a {
    color: #d63384;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 5px 0;
  }