/* Estilos para a página Produto */
.produto {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .produto h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .produto img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .produto p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .produto p:last-child {
    font-size: 1rem;
    color: #777;
  }